h1 {
	padding-top: 20px;
	padding-bottom: 40px;
}

h2 {
	padding-bottom: 15px;
}

.wrapper {
	width: 600px; 
	margin: 0 auto;
}	
	
.btn-space {
	margin: 5px;
}

.img-thumb-link {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.img-thumb-link:hover,
.img-thumb-link:focus {opacity: 0.7;}

.image-modal {
    display: none; /* Hidden by default */
  	position: absolute;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
  	overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

#image-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
}

#image-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.image-modal-content, #image-caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

